* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 16px;
  line-height: 25px;
}

.wrapper {
  background: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 370px;
  color: #fff;
}

.myphoto {
  width: 370px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.aboutme {
  padding-left: 90px;
  padding-top: 110px;
  padding-right: 90px;
  padding-bottom: 110px;
}

.container {
  margin-left: 40px;
  margin-right: 40px;
}

.contacts {
  margin-top: 30px;
}

.aside-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contacts-link {
  font-weight: 400;
  color: #8e949c;
}

.contacts-link-type {
  font-weight: 600;
  margin-right: 10px;
}

.tech-skills {
  margin-top: 55px;
}

.skills-item {
  font-weight: 400;
  color: #f2670b;
  margin-left: 15px;
  margin-right: 280px;
}
.skills-text {
  color: #cfd1d4;
}

.soft-skills {
  margin-top: 50px;
  margin-bottom: 375px;
}

.line {
  text-decoration: none;
}

.profession {
  font-weight: 600;
  margin-bottom: 3px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 87px;

  cursor: pointer;
  text-shadow: 0 0 15px rgba(55, 31, 87, 0.562);
  transition: all 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.name:hover {
  text-shadow: -500px 0 rgba(255, 206, 206, 0.384),
    500px 0 rgba(76, 48, 129, 0.233), 0 0 rgb(51, 16, 92);
}

.description {
  color: #646464;
  font-weight: 300;
  font-size: 18px;
  margin-top: 15px;
}

.me-container {
  margin-bottom: 60px;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.projects-item {
  font-weight: 700;
  margin-left: 17px;
}

.project-link {
  color: #7a7a7a;
  font-weight: 400;
}

.techs {
  color: #7a7a7a;
  font-weight: 400;
}

.project-container {
  margin-bottom: 50px;
}

.work-position {
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.company-name {
  color: #f2670b;
  font-size: 19px;
  font-weight: 600;
}

.period {
  color: #a8a8a8;
}

.stick {
  color: black;
  font-weight: 700;
}

.work-container {
  margin-top: 12px;
  color: #595959;
  margin-bottom: 30px;
  margin-left: 15px;
}

.my-education {
  margin-top: 12px;
  margin-bottom: 10px;
}
